.mainContent{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.colorImg{
	width: 100%;
	border-radius: 4px;
}

.signinBtnDiv{
	display: flex;
	justify-content: flex-end;
	margin-top: 1.5rem;
}

label{
	font-size: .9rem;
	font-weight: bold;
}

.imageLink{
	font-size: .8rem;
	color: #ffffff;
	margin: -1.2rem .4rem;
	transition: .2s;
}

.imageLink:hover{
	opacity: .7;
}

.imageLinkDiv{
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.modalSubTitle{
	margin: 0 0 2rem;
	opacity: .7;
}
